ANTHROPIC_API_KEY=
CLAUDE_THEME=github

ODOO_URL=
ODOO_DB=
ODOO_USERNAME=
ODOO_PASSWORD=
ODOO_API_KEY=
ODOO_PROTOCOL=xmlrpc

PORTAINER_URL=
PORTAINER_TOKEN=
PORTAINER_READ_ONLY=false

TEAMS_APP_ID=
TEAMS_APP_PASSWORD=
TEAMS_APP_TYPE=SingleTenant
TEAMS_APP_TENANT_ID=
TEAMS_TEAM_ID=
TEAMS_CHANNEL_ID=
TEAMS_LOG_LEVEL=ERROR

GITHUB_TOKEN=
ODOO_BRANCH=19.0

TELEGRAM_API_ID=
TELEGRAM_API_HASH=

QDRANT_API_KEY=
